%button-hover{
    background-color: #ff9c00;
    color: #5f3c05;
    border-color: #ff9c00;
    cursor: pointer;
}

#products{
    margin-bottom: 50px;

    .parallax{
        width: 100%;
        height: 200px;
        background-color: #ff9c00;
        background-image: url('../../res/products/blueprint.png');
        display: flex;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

        p{
            font-family: 'NotoSans-Bold';
            font-size: 2em;
            text-transform: uppercase;
            padding-left: 180px;
            color: #FFF;
            
        }
    }

    .product-list{
        display: flex;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 80px 100px;
        padding-top: 80px;
        justify-content: space-around;

        &::-webkit-scrollbar {
            display: none;
        }

        .item{
            width: fit-content;
            margin: 15px 10px;
            width: 12vw;
            height: 12vw;
            margin-bottom: 50px;

            .item-image{
                box-shadow: 0 0 50px rgba(0,0,0, .3);
                width: 100%;
                height: 100%;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }

            .item-name{
                font-family: 'Assistant-Regular';
                font-size: 18px;
                text-align: center;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 100%;
                overflow: hidden;
            }
        }
    }

    .action{
        width: 100%;
        text-align: center;

        button{
            padding: 20px 80px;
            border: none;
            margin-top: 40px;
            border-radius: 30px;
            background: #ff9c00;
            text-transform: uppercase;
            font-size: 1em;
            font-weight: bold;
            color: #734803;

            &:hover{
                @extend %button-hover;
            }
        }
    }

    .report{
        display: flex;
        justify-content: space-evenly;
        margin: 130px 10vw;

        .box{
            display: flex;
            align-items: center;
            align-content: center;

            .icon{ margin-right: 20px; }

            .detail{
                .value{
                    font-family: 'NotoSans-Bold';
                    font-size: 48px;
                    margin: 0;
                }

                .title{
                    font-family: 'Assistant-Regular';
                    margin: 0;
                    font-size: 16px;
                }
            }
        }
    }
}