%button-hover{
    background-color: #ff9c00;
    color: #5f3c05;
    border-color: #ff9c00;
    cursor: pointer;
}

#about{
    padding: 60px;

    .logos, .scenarios{
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        img{
            width: 130px;
            opacity: .7;
        }
    }

    .scenarios{
        margin-top: 100px;
        padding: 0 60px;

        .item{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            z-index: 99;
            position: relative;

            img{
                height: 150px;
                opacity: 1;
            }

            &:nth-last-child(1) img,
            &:nth-last-child(2) img{
                transform: translateY(20px);
            }

            span{
                position: absolute;
                top: -20px;
                right: 20px;
                font-family: 'NotoSans-Bold';
                font-size: 5.5em;
                z-index: -99;
                opacity: .1;
            }

            .sub{
                width: 100%;
                text-align: center;
                font-family: 'NotoSans-Bold';
                text-transform: uppercase;
                font-size: 18px;
                margin: 0;
                opacity: .5;
            }
        }
    }

    .disclaimer{
        margin-top: 60px;
        padding: 0 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p{
            font-family: 'Assistant-Regular';
            font-size: 22px;
            width: 50%;
        }

        button{
            padding: 20px 80px;
            border: none;
            border-radius: 30px;
            background: #ff9c00;
            text-transform: uppercase;
            font-size: 1em;
            font-weight: bold;
            color: #734803;

            &:hover{
                @extend %button-hover;
            }
        }
    }
}

@media screen and (max-width: 490px) and (orientation: portrait){
    #about{
        padding: 0 !important;
        margin-top: 50px;

        .logos{
            flex-wrap: wrap;
            width: 100%;

            img{
                margin: 20px 0;
                width: 35% !important;
            }
        }

        .scenarios{
            flex-wrap: wrap;
            padding: 0 !important;

            .item{
                width: 35% !important;

                img{ 
                    height: 200px !important;;
                    width:100% !important;
                }

                &:nth-last-child(2) img{
                    transform: translateY(30px) !important;
                    height: 180px !important;
                }
            }
        }

        .disclaimer{
            flex-wrap: wrap;
            padding: 0 !important;
            text-align: center;
            width: 100%;

            p{
                width: 100% !important;
                padding: 20px;
            }

            button{
                margin: 15px auto 50px;
            }
        }
    }
}