$bFont: 'NotoSans-Bold';
$rFont: 'Assistant-Regular';

%button-hover{
    background-color: #ff9c00;
    color: #5f3c05;
    border-color: #ff9c00;
    cursor: pointer;
}

#home{
    padding: 0 60px;

    .navbar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 60px 0;

        p{
            font-family: $rFont;
            font-size: 16px;
            margin: 0;

            &.logo img{ 
                width: 50%;
            }
        }

        .menu{
            display: flex;
            align-content: center;
            align-items: center;

            .menu-item{
                padding: 5px 15px;
                border-radius: 30px;
                transition-duration: .2s;

                &:not(:last-of-type){
                    margin-right: 20px;
                }

                &:hover{
                    @extend %button-hover;
                }
            }
        }


    }

    .press{
        width: 100%;
        display: flex;

        .box{
            width: 100%;

            .intro{
                font-family: $bFont;
                font-size: 78px;
                text-transform: uppercase;
                margin-bottom: 40px;
                line-height: 86px;
                position: relative;

                &:after{
                    content: '';
                    position: absolute;
                    width: 20%;
                    height: 2px;
                    background: #000;
                    bottom: -15px;
                    display: block;
                    left: 0;
                }

                span{ color: #ff9c00; }
            }

            .disclaimer{
                font-family: $rFont;
                font-size: 22px;
                color: #333;
                width: 80%;
            }

            button{
                padding: 20px 80px;
                border: none;
                margin-top: 40px;
                border-radius: 30px;
                background: #ff9c00;
                text-transform: uppercase;
                font-size: 1em;
                font-weight: bold;
                color: #734803;

                &:hover{
                    @extend %button-hover;
                }
            }

            &:last-of-type{
                text-align: center;
                img{ width: 75%; }
            }
            
        }
    }

    .mouse-icon{
        display: flex;
        justify-content: center;

        img{
            height: 10vh;
        }
    }
}

@media screen and (max-width: 490px) and (orientation: portrait){

    #home{
        padding: 0 20px;

        .navbar{
            .logo img{
                width: 70% !important;
                margin: 0 auto;
                display: block;
            }

            .menu{
                display: none;
            }
        }

        .press{
            flex-wrap: wrap;

            .box{
                
                .intro{
                    margin-top: 0;
                    font-size: 10vw;
                    line-height: 10vw;
                    text-align: center;
                }

                .disclaimer{
                    font-size: 5vw;
                    width: 100%;
                    text-align: center;
                }

                button{ display: none; }

                &:last-of-type img{
                    width: 100%;
                }
            }
        }

        .mouse-icon{ display: none; }
    }
    
}

@media screen and (min-width: 1366px) and (max-width: 1439px){
  #home .intro{
    margin-top: 0 !important;
    font-size: 70px !important;
  }
}